# Ignore file named 'README.txt'
README.txt

# Ignore folder named 'venv'
venv/

# Ignore folder named '.ipynb_checkpoints'
.ipynb_checkpoints

# Ignore folder named 'likers'
likers/

# Ignore folder named 'posts'
posts/

# Ignore folder named 'all_users'
all_users/

# Ignore folder named 'reposters'
reposters/

# Ignore file named 'token.txt'
token.txt
